<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../../css/content.css">
</head>
<body>
    <!-- navbar -->
    <nav class="fixed">
        <div class="nav-wrapper purple">
            <div class="container">
                <a href="#" class="brand-logo">devliftph</a>
                <a href="#" class="button-collapse right"><i class="material-icons">menu</i></a>
            </div>
        </div>
    </nav>
    <!-- content -->
    <section id="courses-list">
        <br />
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l4">
                    <a href="courses/html5&css3.html">
                        <div class="card small">
                            <div class="card-content center">
                                <span class="card-title">HTML5 and CSS3</span>
                                <p class="days">Monday to Friday (8:00am - 5:00pm)</p>
                                <p class="dates">October 23-28, 2019</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a href="courses/javascript&fundamentals.html">
                        <div class="card small">
                            <div class="card-content center">
                                <span class="card-title">Javascript Fundamentals</span>
                                <p class="days">Monday to Friday (8:00am - 5:00pm)</p>
                                <p class="dates">October 23-28, 2019</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a href="courses/materialize.html">
                        <div class="card small">
                            <div class="card-content center">
                                <span class="card-title">Materialize Framework (Web Design)</span>
                                <p class="days">Monday to Friday (8:00am - 5:00pm)</p>
                                <p class="dates">October 23-28, 2019</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a href="courses/oop&ajax&api.html">
                        <div class="card small">
                            <div class="card-content center">
                                <span class="card-title">JS OOP, Ajax, API</span>
                                <p class="days">Monday to Friday (8:00am - 5:00pm)</p>
                                <p class="dates">October 23-28, 2019</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a href="courses/node&mongodb&express.html">
                        <div class="card small">
                            <div class="card-content center">
                                <span class="card-title">Node.js, MongoDB and Express</span>
                                <p class="days">Monday to Friday (8:00am - 5:00pm)</p>
                                <p class="dates">October 23-28, 2019</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m6 l4">
                    <a href="courses/react&redux.html">
                        <div class="card purple-border small">
                            <div class="card-content center">
                                <span class="card-title">React and Redux</span>
                                <p class="days">Monday to Friday (8:00am - 5:00pm)</p>
                                <p class="dates">October 23-28, 2019</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>