<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DevLift PH</title>
</head>
<body>




  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-app.js"></script> 
  <!-- Firebase Firestore -->
  <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-firestore.js"></script>

  <!-- Firebase DB Connection -->
  <script src="../db/config.js"></script>
  
  <!-- Custom JS -->
  <script src="../models/model.js"></script>
  <script src="../controllers/controller.js"></script>
</body>
</html>