<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
       <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/animations.css">
</head>
<body>
    <nav class="testimonials">
        <div class="nav-wrapper">
            <div class="container">
                <a href="#" class="brand-logo fjalla">DEV<span>LIFT</span>PH</a>
                <a href="#" data-activates="side-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul class="hide-on-med-and-down right">
                    <li><a href="login&signup.html" class="navlink1">Login</a></li>
                    <li><a href="login&signup.html" class="navlink2">| &nbsp;&nbsp;Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container testimonials-page">
        <div class="row center">
            <div class="col s12 m6 offset-m3">
                <div class="card">
                    <h4>Add a Testimonial</h4>
                    <div class="card-content input-field">
                        <input type="text" placeholder="Message">
                        <input type="text" placeholder="Name">
                        <input type="email" placeholder="Email Address" validate>
                        <button class="btn purple darken-3 waves-effect waves-light white-text">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="center title">Testimonials of some learners who became a part of our community</p>
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                            "We really enjoyed the bootcamp even though it's just for 14 days.There were a lot of stuff that I learned here that I didn't know when I was still in college. I would recommend it to IT / CS students who want to expand their knowledge more on developing websites using javascript. Not only technical stuff is taught here but also teaches you on how valuable your time is. This bootcamp teaches  you the right skills you need to acquire and learn on to land a job in the IT industry. Joining the DevLift Community helped me find my purpose in life. The journey will be hard I tell you but it is worth it. "
                    </div>
                    <div class="card-action purple darken-1 white-text">
                        <span class="name">Jerard Pelaez</span> - jerard.pelaez@gmail.com
                        <span class="secondary-content white-text">09/29/2019</span>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                            "Web Development is something that I was curious about but also confused on because of the so many resources and ways to create one or more applications. But with the DevliftPH founder's help, not only was I am learning new way of developing applications, I also became confident that my skills now can be put into works. Thank you for the teachings that you guys have given me and I look forward to learning more about your developments."
                    </div>
                    <div class="card-action purple darken-1 white-text">
                        <span class="name">Jan Louise Lineses</span> - 
                        <span class="secondary-content white-text">09/29/2019</span>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                            "Thank you very much for the web development course. I learned techniques that I will use to improve my web developing techniques. Mr. Bobby Ferrer is a great teacher. This course is great for anyone. I highly recommend it."
                    </div>
                    <div class="card-action purple darken-1 white-text">
                        <span class="name">Ma Cristina Blanca</span> - 
                        <span class="secondary-content white-text">09/29/2019</span>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                            "I've learned a lot from Sir Bobby Ferrer when I was his student in Web Development. I know that 14 days isn't enough to understand everything that's why I'm looking forward for his advocacy, the Devlift Community that will help IT aspirants to sharpen their skills and land a  job in the IT Industry."
                    </div>
                    <div class="card-action purple darken-1 white-text">
                        <span class="name">Jomari de Belen</span> -
                        <span class="secondary-content white-text">09/29/2019</span>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                            "In my 14 days of training in Web development III, for me this is better than my 4 years in college because i've never learned this kind of lesson before. To my instructor, i wish you continue to share the experience you had in the industry like you did for us. When the final day came, I thought that is not my final day for me, so even if the 14 days has ended, i will continue the path that i've learned from you so i that will be able to work hard and calm myself for every situation because i know it's not easy to learn the skills you want the most. For the other learners that day, i'm glad that i met them and got to share with each other our skills and knowledge when it comes in technologies. I think i should meet them again in the future to collaborate if we have projects."
                    </div>
                    <div class="card-action purple darken-1 white-text">
                        <span class="name">Patrick Bajo</span> - 
                        <span class="secondary-content white-text">09/29/2019</span>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination center">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active purple"><a href="#!">1</a></li>
            <li><a href="#!">2</a></li>
            <li><a href="#!">3</a></li>
            <li><a href="#!">4</a></li>
            <li><a href="#!">5</a></li>
            <li><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          </ul>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>