<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DevLift | Registration</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../css/content.css">
</head>
<body>
    <nav class="fixed">
        <div class="nav-wrapper purple">
            <div class="container">
                <a href="#" class="brand-logo">devliftph</a>
                <a href="#" class="button-collapse right"><i class="material-icons">menu</i></a>
            </div>
        </div>
    </nav>

    <!-- content -->
    <section id="courses">
        <div class="container">
            <div class="description-container">
                <div class="row">
                    <p class="course-title">Choose a Payment Method below</p>
                    <ul class="collection">
                        <li class="collection-item">Visa or Mastercard</li>
                        <li class="collection-item">Remmittance Centers</li>
                        <li class="collection-item">Globe GCash</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
</html>